@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

html {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
}

.container {
    max-width: 1370px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    width: 227px;
    height: 65px;
    font-size: 20px;
    border-radius: 4px;
    padding: 20px 40px;
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

:root {
    --primary-color: #01996D;
    --secondary-color: #484848;
    --background-color: #245852;
    --text-collor: #292929;
}

/* <!-- Шапка сайта --> */

.header {
    padding-top: 175px;
    min-height: 895px;
    background-image: url(img/bg_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__inner {}

.header_h1 {
    margin-top: 0;

    width: 440px;
    height: 148px;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: var(--primary-color);
}

.header_p {
    margin-bottom: 18px;
    width: 420px;
    height: 123px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 144.5%;
    color: var(--secondary-color);
}

.header_btn {}

/* <!-- Секция "Меню" --> */

.navbar {
    height: 85px;
    display: flex;
    align-items: center;
}

.navbar__inner {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.navbar_logo {
    margin-right: 172px;
}

.navbar__box {
    width: 1117px;
    display: flex;
    justify-content: space-between;

}

.navbar__list {
    width: 557px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar_h3 {
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: var(--text-collor);
}

.buttoms__navbar {
    display: flex;

}

.navbar_p {
    margin-right: 35px;
}

.navbar__btn {
    width: 181px;
    height: 51px;
    background: #01996D;
    border: 1px solid #01996D;
    color: #FFFFFF;
    border-radius: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

/* <!-- Подвал сайта --> */

.footer {
    margin-top: -1px;
    background-color: var(--background-color);
    padding: 95px 0;
}

.footer__logo {
    margin-bottom: 60px;
}

.footer__navbar_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__navbar_item {
    margin-bottom: 60px;
}

.footer__navbar_item:last-child {
    margin-bottom: 0;
}

.footer__item_a {
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer__item_a:hover {
    opacity: 0.8;
}